@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(13,26,38);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Viz{
  display: flex;
  flex-direction: row;
}
.Graph{
  transform: translate(400px,50px);
}
.Infos{
  min-width: 400px;
  width: 400px;
  position: fixed;
  top: 25px;
  left : 20px;

  display: flex;
  flex-direction: column;
}
.title{
  color: white;
  font-size: 3em;
  text-align: center;
}

.data_type{
  text-transform: uppercase;
}

.switch_button{
  color: white;
  font-size : 1.2em;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.switch_button:hover {
  background-color: gold; /* Green */
  color: white;
}
.tweet{
  padding: 15px;
  color :white;
  border: white 2px solid;
  border-radius: 20px;
  margin-bottom : 25px;
}

.tweet_footer{
  display: flex;
  flex-direction: column;
}

.user_infos{
  width: 100%;
  display: flex;
}

.user_name{
  width: 100%;
}

.user_display_name{
  margin : 0;
}

.user_handle{
  margin : 0;
}

.badge{
  max-width: 16px;
  margin-left: 5px;
}

.tweet_influence{
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  margin-top : 5px;
}

.tweet_influence > div > span{
  margin-right : 5px;
}

.tweet_influence > div{
  margin-right: 10px;
}

.tick line{
  stroke : white;
}

.tick text {
  fill : white;
  font-family: 'Poppins', sans-serif;
}

.axis-label {
  fill: #8E8883;
  font-size: 1.82em;
}

.mark:hover {
  cursor: pointer
}

.legend_item{
  display : flex;
  align-items: center;
}

.legend_title{
  color: white;
  margin-left: 15px;
  width: 80%;
}

.bubble{
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.legend{
  padding: 15px;
  color :white;
  border: white 2px solid;
  border-radius: 20px;
}

.lengend_main_title{
  margin : 0;
}